
:root {
    --border-width: 10px;

    --clr6: #cb997e;
    --clr5: #ddbea9;
    --clr4: #ffe8d6;
    --clr3: #b7b7a4;
    /* --clr2: #a5a58d; */
    --clr1: #6b705c;
}

body {
    background-color: black;
    color:white;
    text-align: center;
  }

.board-container {
    margin: auto;
  }

.board {
    border-collapse: separate;
    border-spacing: 10px;
}
h1{
    color: var(--clr4);
}

h3{
    cursor: pointer;
    width: 100px;
    margin:auto;
    margin-bottom: 20px;
}
/* h5{
    display:none
} */

h6{
    color: var(--clr2);
}


.highlight{
    background-color: yellow;
    width: 100px;
    margin:auto;
}
.level_btn{
    background-color: var(--clr4);
    color: var(--clr1);
    border-radius: 7px;
    width: 70px;
    height: 40px;

}

.smile_img{
    width: 40px;
    height: 40px;
    display:block;
    border-radius: 7px;
    margin: auto;
    margin-top: 15px;
  }

.cell {
    width: 35px;
    height: 35px;
    border-radius: 7px;
    background-color: var(--clr5);
    color: var(--clr5);
    cursor: pointer;
}
.shown {
    background-color: var(--clr3);
    cursor: default;
    transition:300ms;
    color: white
}

#timer {
    color: white;
    display: inline-block;
    padding: 5px;
    font-size: 30px;
    border-width: 5px;
}
.mark{
    background-color: var(--clr6);
    border: 5px solid var(--clr1) ;
    margin-top: 10px;
    margin-bottom: 0px;
}


.safe_btn{
    background-color: var(--clr4);
    color: var(--clr1);
    border-radius: 7px;
    width: 100px;
    height: 40px;
    
}

.mega_btn{
    background-color: var(--clr4);
    color: var(--clr1);
    border-radius: 7px;
    width: 100px;
    height: 40px;
    
}

.nonshow{
    display:none
}


.modal {
    display: none;
    border: solid 3px var(--clr1);
    width: 170px;
    height: 170px;
    background-color: var(--clr5);
    color:var(--clr2);  
    position: absolute;
    top: 200px;
    right: 20px;   
  }
