
:root {
    --border-width: 10px;

    --clr6: #cb997e;
    --clr5: #ddbea9;
    --clr4: #ffe8d6;
    --clr3: #b7b7a4;
    /* --clr2: #a5a58d; */
    --clr1: #6b705c;
}

body {
    background-color: black;
    color:white;
    text-align: center;
  }

.board-container {
    margin: auto;
  }

.board {
    border-collapse: separate;
    border-spacing: 10px;
}
h1{
    color: var(--clr4);
}

h6{
    color: var(--clr5);
}


.smile_img{
    width: 40px;
    height: 40px;
    display:block;
    border-radius: 7px;
    margin: auto;
    margin-top: 15px;
  }

.cell {
    width: 35px;
    height: 35px;
    border-radius: 7px;
    background-color: var(--clr5);
    color: var(--clr5);
    cursor: pointer;
}
.shown {
    background-color: var(--clr3);
    cursor: default;
    transition:300ms;
    color: white
}
/* 
.mine {
    background-color: var(--clr1);
    cursor: pointer;
    transition:300ms
} */
/* 
.marked {
    background-color: var(--clr3);
    cursor: pointer;
    transition:300ms
} */

