
:root {
    --border-width: 10px;

    --clr6: #cb997e;
    --clr5: #ddbea9;
    --clr4: #ffe8d6;
    --clr3: #b7b7a4;
    /* --clr2: #a5a58d; */
    --clr1: #6b705c;
}

body {
    background-color: black;
    color:white;
    text-align: center;
  }

.board-container {
    margin: auto;
  }

.board {
    border-collapse: separate;
    border-spacing: 10px;
}
h1{
    color: var(--clr4);
}

h3{
    cursor: pointer;
    width: 100px;
    margin:auto;
    margin-bottom: 20px;
}

.highlight{
    background-color: yellow;
    width: 100px;
    margin:auto;
}

h6{
    color: var(--clr5);
}

.level_btn{
    background-color: var(--clr4);
    color: var(--clr1);
    border-radius: 7px;
    width: 70px;
    height: 40px;

}

.smile_img{
    width: 40px;
    height: 40px;
    display:block;
    border-radius: 7px;
    margin: auto;
    margin-top: 15px;
  }

.cell {
    width: 35px;
    height: 35px;
    border-radius: 7px;
    background-color: var(--clr5);
    color: var(--clr5);
    cursor: pointer;
}
.shown {
    background-color: var(--clr3);
    cursor: default;
    transition:300ms;
    color: white
}

#timer {
    color: white;
    display: inline-block;
    padding: 5px;
    font-size: 30px;
    border-width: 5px;
}
.safe{
    border: 5px solid var(--clr1) ;
}
/* 
.mine {
    background-color: var(--clr1);
    cursor: pointer;
    transition:300ms
} */
/* 
.marked {
    background-color: var(--clr3);
    cursor: pointer;
    transition:300ms
} */

